* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* img {
  max-width: 100%;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #121b25;
  color: #fff;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  text-align: left;
  color: #d6d6d6;
}

.title {
  font-family: Work Sans;
  font-size: clamp(1.875rem, 1.466rem + 2.05vw, 3rem);
  font-weight: 600;
  line-height: 1.26;
  text-align: left;
  text-transform: capitalize;
  color: #fff;
}

.link {
  display: inline-block;
  margin-top: 45px;
  padding: 22px 42px;
  background-color: #1aa090;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  transition: background-color 0.2s;
}
@media (any-hover: hover) {
  .link:hover {
    background-color: #15786c;
  }
}

/*--Header--*/
.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
}
.header_buttons {
  display: flex;
  gap: 5px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__logo {
  max-width: 200px;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}
.header__btn {
  padding: 11px 20px;
  border: 2px solid #1aa090;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__btn {
    padding: 7px 15px;
  }
}
@media (max-width: 992px) {
  .header .menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    display: flex;
    overflow: auto;
    width: 80%;
    transition: left 0.3s;
    padding: 20px 0;
    background-color: #1aa090;
  }
  .header .menu._active {
    left: 0;
  }
}
.header .menu-icon {
  display: none;
}
@media (max-width: 992px) {
  .header .menu-icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .header .menu-icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .header .menu-icon span:first-child {
    top: 0;
  }
  .header .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .header .menu-icon._active span {
    transform: scale(0);
  }
  .header .menu-icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header .menu-icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.header .menu__body {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 992px) {
  .header .menu__body {
    flex-direction: column;
    margin: auto;
  }
}
.header .menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #d6d6d6;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.2s;
  position: relative;
}
.header .menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: #1aa090;
  height: 3px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
@media (any-hover: hover) {
  .header .menu__link:hover {
    color: #fff;
  }
  .header .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 992px) {
  .header .menu__link {
    line-height: 50px;
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .login {
    display: none;
  }
}
@media (any-hover: hover) {
  .login:hover {
    background-color: #1aa090;
  }
}

.register {
  background-color: #1aa090;
}
@media (any-hover: hover) {
  .register:hover {
    background-color: transparent;
  }
}

.hero {
  margin-top: clamp(1.875rem, 1.057rem + 4.09vw, 4.688rem);
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  position: relative;
}
.hero-deco {
  position: absolute;
  z-index: -1;
  bottom: -150px;
  right: 0;
}
@media (max-width: 576px) {
  .hero-deco {
    height: 300px;
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 922px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content {
  flex: 0 0 49.2957746479%;
  padding-bottom: 160px;
}
@media (max-width: 992px) {
  .hero__content {
    padding-bottom: 20px;
  }
}
.hero__title {
  font-family: Work Sans;
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  font-weight: 600;
  line-height: 1.26;
  text-align: left;
  text-transform: capitalize;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  height: 100px;
  width: 880px;
  background-color: #fff;
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  position: absolute;
}
@media (max-width: 922px) {
  .hero__filter {
    width: 100%;
    position: static;
  }
}
.hero__img {
  flex: 0 0 49.2957746479%;
}
@media (min-width: 768px) and (max-width: 922px) {
  .hero__img {
    display: none;
  }
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
}
@media (max-width: 576px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    height: auto;
  }
}
@media (max-width: 475px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.filter__btn {
  padding: 5px;
}
.filter__btn button {
  cursor: pointer;
  background-color: #1aa090;
  height: 100%;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px;
}
.filter__btn button:active {
  background-color: #15786c;
}
@media (max-width: 576px) and (min-width: 475px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
}
.block-filter__button {
  display: flex;
  padding-left: 40px;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.block-filter__header {
  display: flex;
  align-items: center;
}
.block-filter__type {
  padding-right: 2px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: left;
  color: #858585;
}
.block-filter__icon {
  width: 10px;
  height: 7px;
  cursor: pointer;
  transition: transform 0.3s;
  background: url("../img/icons/arrow-dropdown.svg") center bottom no-repeat;
}
.block-filter__icon._active {
  transform: rotate(180deg);
}
.block-filter__value {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.68px;
  text-align: left;
  color: #121b25;
  cursor: pointer;
}
.block-filter__dropdown {
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 5px 1px #000;
}
.block-filter__dropdown._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(5px);
}
.block-filter__item {
  padding: 10px;
  transition: background-color 0.3s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}

.featured {
  padding-top: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -1.534rem + 17.05vw, 11.25rem);
}
.featured__box {
  margin-top: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  overflow: auto;
}
.featured__item {
  flex: 0 0 auto;
}
.popular {
  background: #1a242f url("../img/slider/bg-img2x.png") center center/cover no-repeat;
  padding: clamp(1.875rem, -1.08rem + 14.77vw, 10rem) 0;
}
.popular__slider {
  margin-top: 40px;
  position: relative;
}
.popular__link {
  margin-top: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: inline-flex;
}

.slider-buttons {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1800px) {
  .slider-buttons {
    top: -100px;
    right: 0;
    width: auto;
    gap: 30px;
  }
}

.swiper-button-prev {
  position: absolute;
  left: -130px;
}

.swiper-button-next {
  position: absolute;
  right: -130px;
  transform: rotate(180deg);
}

.popular-slider-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  cursor: pointer;
  background: url("../img/icons/arrow-slider.svg") left 30px center no-repeat;
  border: 1px solid #fff;
}
@media (max-width: 1800px) {
  .popular-slider-btn {
    position: static;
  }
}
@media (max-width: 660px) {
  .popular-slider-btn {
    display: none;
  }
}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
@media (max-width: 660px) {
  .popular-slide {
    text-align: center;
  }
}
.popular-slide__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.26;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.popular-slide__labels {
  display: flex;
  gap: 20px;
}
@media (max-width: 660px) {
  .popular-slide__labels {
    justify-content: center;
  }
}
.popular-slide__label {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.why {
  padding-top: clamp(1.875rem, -1.534rem + 17.05vw, 11.25rem);
  padding-bottom: clamp(1.875rem, 0.398rem + 7.39vw, 5.938rem);
}
.why__title {
  text-align: center;
}
.why__body {
  margin-top: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(1.25rem, 0.568rem + 10vw, 3.125rem);
}
@media (max-width: 660px) {
  .why__body {
    flex-direction: column;
  }
}
.item-why {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 26.4788732394%;
}
.item-why__title {
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.01em;
}
.item-why__text {
  margin-top: 10px;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  text-align: center;
}
.item-why__img {
  margin-bottom: clamp(1.25rem, 0.886rem + 1.82vw, 2.25rem);
  width: clamp(6.25rem, 4.432rem + 9.09vw, 11.25rem);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 36px;
}
.item-why__img svg {
  width: 40%;
  height: 40%;
}
.item-why__img::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 50%;
  opacity: 0.12;
  background-color: #1aa090;
}